<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/bsrra/IdeaProjects/EPAM_MODULE_2/src/test/java/org/example/Module2_A.java">
        <classes>
            <class name="org.example.Module2_A">
                <methods>
                    <include name="TestingPastebin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/bsrra/IdeaProjects/EPAM_MODULE_2/src/test/java/org/example/Module2_B.java">
        <classes>
            <class name="org.example.Module2_B">
                <methods>
                    <include name="TestingCloud"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>